@import "./partials/variables";
@import "./partials/reset";
@import "./partials/main";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/personaje";
@import "./partials/dados";
@import "./partials/cfgGeneral";
//! Media Querys
@import "./partials/media-Above-1921px"; //
@import "./partials/media-Above-768px";
@import "./partials/media-UpTo-480px";


@font-face {
    font-family: "pamela";
    src: url(../fonts/Pamela.ttf);
}

@font-face {
    font-family: "whiteStorm";
    src: url(../fonts/whiteStorm.otf);
}

@font-face {
    font-family: "robotoRegular";
    src: url(../fonts/robotoRegular.ttf);
}

@font-face {
    font-family: "theBlowarRegular";
    src: url(../fonts/theBlowarRegular.ttf);
}