//@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body:-webkit-scrollbar {
    display: none;
}

body {
    background: #000000;
    font-family: 'HelveticaNeue-Light', Roboto;
    color: #fff;
}

.content {
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 50px;
    width: 500px;
}

.intro {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0px 0 20px;
    margin-top: -5%;
}

.text {
    font-size: 20px;
    padding-left: 2%;
    height: 27px;
    white-space: nowrap;
    overflow: hidden;
}


.credit {
    margin-top: 14px;
    font-size: 14px;
    font-style: italic;
}

.arrow {
    text-align: center;
    margin-top: 80px;
    font-size: 46px;
    backface-visibility: hidden;
}

#qrCode {
    bottom: 19%;
    right: 11%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    /* background-image: url(./../img/certificadoDesarrolloWeb.png); */
}

.home {
    position: fixed;
    bottom: 15%;
    left: 58%;
    background-color: #000000;
    padding: 0px 1px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.home:hover {
    box-shadow: 0px 0px 2px 2px #00f3ff;
}