.sale {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 1%;
}

.titleMain {
    display: flex;
    justify-content: center;
    color: rgb(230, 230, 230);
}

.titulosSet {
    align-items: center;
    color: rgb(225, 225, 225);
}

.titleSubmain {
    display: flex;
    justify-content: center;
    color: rgb(182, 182, 182);
}

.h3Title {
    display: flex;
    justify-content: center;
    color: rgb(159, 158, 158);
}


.generarCartasBtn {
    /* display: flex; */
    width: 109px;
    height: 40px;
    padding: 9px 19px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 47%;
    margin-top: 3%;
}

.generarCartasBtn:hover {
    box-shadow: 0px 0px 10px 5px #00ffff;
}





/* Estilos para las cartas */
.carta-personaje {
    width: 217px;
    height: 367.6px;
    margin: 10px;
    border-radius: 10px;
    /* Añade bordes redondeados a las cartas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* Añade una sombra a las cartas */
    background-size: cover;
    /* Asegura que la imagen de fondo cubra toda la carta */
    background-position: center;
    /* Centra la imagen de fondo */
    color: white;
    /* Cambia el color del texto a blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Añade una sombra al texto para mejor legibilidad */
    padding: 10px;
    /* Espaciado interno de la carta */
    margin: 10px;
    /* Margen entre las cartas */
    border: 1px solid #ccc;
    /* Borde de la carta */
}


#organizarCartas {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    ;
}

.colorTitulosMulti {
    text-shadow: 0px -1px 2px #000000, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.centrarAtributosMulti {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 8%;
}
    
/* Estilos para las cartas */
.carta-personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.colorAtr1, .colorAtr2, .colorAtr3 {
    margin-top:10%;
}

.colorTitulosMulti {
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}


.colorAtr1 {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: white;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}


.colorAtr2 {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: white;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}



.colorAtr3 {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: white;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}