
    .sale {
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 1%;
    }
    .titleMain {
        display:flex;
        justify-content: center;
        color: rgb(230, 230, 230);
    }   

    .titulosSet {
        align-items: center;
        color: rgb(225, 225, 225);
    }
    
    .titleSubmain {
        display:flex;    
        justify-content: center;
        color: rgb(182, 182, 182);
    }

    .h3Title {
        display:flex;    
        justify-content: center;
        color: rgb(159, 158, 158);
    }












































