.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #a00eda;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #0aa16f;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #d80000;
}

.highcharts-data-table tr:hover {
    background: #bc03d9;
    color: #178fff
}

.floating-chart {
    position: fixed;
    top: 5%;
    right: 4.1%;
    max-width: 30%;
    z-index: 1000;
    //padding: 3rem;
    padding-right: 3rem;
    padding-left: 2rem;
}

.highcharts-axis-labels,
.highcharts-xaxis-labels,
.highcharts-radial-axis-labels {
    font-size: 26px;
}

.highcharts-contextmenu {
    color: rgb(222, 42, 186) !important;
    background-color: rgba(176, 1, 1, 0);
}


.highcharts-menu {
    color: white !important;
    background-color: rgba(88, 10, 10, 0.486) !important;
}

.highcharts-a11y-proxy-container-after {
    background-color: black;
}

.highcharts-a11y-proxy-element,
.highcharts-no-tooltip {
    background-color: black;
    color: rgb(9, 156, 220) !important;
}

.highcharts-menu-item {
    color: white !important;
}

.highcharts-menu-item:hover {
    color: rgb(255, 43, 43) !important; //hover de la letra al pasar por arriba
    background-color: rgba(21, 6, 6, 0.486) !important;
}

.highcharts-background {
    color: rgb(205, 0, 34) !important;
}

.highcharts-axis-labels,
.highcharts-yaxis-labels,
.highcharts-radial-axis-labels {
    color: #0aa16f !important;
    fill: #a00eda !important;
}

.highcharts-axis-labels text {
    fill: #a00eda00 !important;
    /* Cambia el color de relleno de los texto dentro del triangulo, los valores que no me interesa. (Ocultado con opacidad) */
}

.highcharts-plot-background {
    margin-top: 3rem;
}
