#content {
    display: none;      //! C A M B I A R    A    N O N E
    text-align: center;
}

.centerContent {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SBConten {
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.start-buttonCFG {
    background-image: url(../img/botonStart.gif);
    width: 984px;
    height: 472px;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto; /* Centra horizontalmente el elemento dentro del contenedor */
}

.start-buttonCFG:hover {
    background-image: url(../img/botonStart2.png);
}

.bodyIndex img {
    z-index: -1;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img {
    filter: blur(5px);
    filter: opacity(80%);
}

.colorRojo {
    color:#ff0000;
}

.colorCian {
    color:aqua;
}

.colorVerde {
    color:rgb(14, 239, 14)
}

.configAtrI {
    margin-top: 2rem;
    font-size: 28px; 
    font-weight: bold;
    text-shadow: -3px 0px 2px #000000, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
    
}

hr {
    width: 100%;
}

.otrasConfigs {
    margin-top: 2rem;
    font-size: 26px;
    color: white; 
}

.titulosIndex{
    color:#be2ab6;
    //text-shadow: -3px 0px 2px #ffffff, 0px 2px 2px #ffffff, 0px -1px 2px #ffffff, 2px 0 0 #ffffff;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.fila {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-left:2.1rem;
    margin-top: 10px;
    color:  #00ffff;
    font-weight: bold;
    // -webkit-text-stroke: 2px #00ffff;
    // -webkit-text-stroke: 4px black;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
    margin-bottom: 18px;
}

.space {
    margin-right: 10px;
    font-size: 22px;
    display:flex;
    align-items: center;
    
}

.titulos {
    display: flex;
    align-items: center;
    margin-left: 1.1rem;
    color:#7407cd;
    margin-top: -13px;
    margin-bottom: 10px;
    text-shadow: 1px 0px 2px black, 1px -1px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.textoDescriptivo {
    font-family: 'Courier New', monospace;
    white-space: pre;
    color: white;
    font-size: 22px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.configMensajitoPj {
    font-family: sans-serif;
    color: #f7f7f7;
    margin-top: 2rem;
    width: 16rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    line-height: 2rem;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.configTabla {
    background-color: rgb(113 96 212 / 86%);
    display: flex;
    border-radius: 1rem;
    padding: 3rem;
    border: 4px solid rgba(15, 15, 15, 0.686);
}

.columna1 {
    width: 10rem;
}

.tituloLegendCFGIndex { 
    display:flex;
    justify-content: center;
    text-shadow: 5px 3px 2px #b852ffc7, -4px 1px 2px rgb(134 38 59), -3px -3px 2px rgb(255, 255, 255), 4px -2px 0 rgb(232 101 84);

}

.configLegendIndex {
    display:flex;
}

.configBuilderIndex {
    display:flex;
}

.legend1 {
    justify-content: center;
    font-family: "pamela";
    font-size: 200px;
    display:flex;
    //margin-left: 2rem;
    margin-right: 4rem;
    filter: opacity(50%);
}

.builder2 {
    font-family: "pamela";
    font-size: 200px;
    display:flex;
    justify-content: center;
    //margin-right: 2rem;
    margin-left: 4rem;
    filter: opacity(50%);
}

//TODO TEST MODIFICAR ALERTAS Y PROMPTS POR PAPITO JUGO AL DOM.
.bienvenida {
    color: white;
    font-size: 30px;
    text-shadow: -3px 3px 0px #f2170d;
}

.textSolapa {
    margin-top:2rem;
    color: white;
    font-style: italic;
    margin-bottom:2rem;
    text-shadow: -2px 2px 0px #a40df2;
}

.configTextBase {
    background-image: url(../img/primerPreg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    width: 400px;
    border: 2px solid #00ffff;
    margin-top: 2rem;
    margin-bottom: 5px;
    color:white;
    font-size: 30px;
    text-shadow: 5px 3px 2px #000000c7, -4px 1px 2px #000000c7, -3px -3px 2px #000000c7, -4px 3px 6px #000000c7;
    // text-shadow: -1px 2px 4px 0px #000000;
    // font-weight: bold;
    // color: #ff00ea;
    font-size: 40px;
}

.configTextBase:hover {
    box-shadow: 2px 2px 4px #f7f7f7;
}

.inputTextStyleIndex {
    font-family: "TheBlowarRegular";
    margin-top: 2rem;
    font-size: 25px;
    padding: 1px;
    text-align: center;
    letter-spacing: 2px;
}

.inputSelec {
    color: white;
    cursor:pointer;
}

//! Botones Index

.botonElegirRaza {
    background-image: url(../img/btnas.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #00ffff;
    border-radius: 1rem;
    padding: 30px;
    width: 400px;
    cursor: pointer;
    margin-bottom: 5px;
    
}

.botonElegirRaza:hover {
    box-shadow: 2px 2px 4px #f7f7f7;
}

.btnRazaCfg {
    text-shadow: -1px 2px 4px #000000;
    font-weight: bold;
    color: #ff00ea;
    font-size: 40px;
}

//! Opciones Raza

// .razasElegir:hover ~ *:not(.razasElegir) {
//     filter: blur(5px);
// }

.comenzarBtn {
    background-image: url(../img/startBTN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:10px;
    width: 435px;
    height: 412px;
    cursor: pointer;
}

.comenzarBtn:hover {
    //transform: scale(1.03);
    background-image: url(../img/startBTNUp.png);
    text-shadow: 0 0 5px 5px rgba(255, 255, 255, 10);
    transition: transform 0.2s ease, box-shadow 0.03s ease;
}

.opcionElfos {
    background-image: url(../img/elfosImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 350px;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

.opcionEnanos {
    background-image: url(../img/enanosImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 350px;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

.opcionHumanos {
    background-image: url(../img/humanosImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 350px;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

.opcionOrcos {
    background-image: url(../img/orcosImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 350px;
    cursor: pointer;
    border-radius: 2rem;
}

.opcionElfos:hover, 
.opcionEnanos:hover, 
.opcionHumanos:hover, 
.opcionOrcos:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 3);
    transition: transform 0.3s ease, box-shadow 0.03s ease;
}

.flex {
    
    display: flex;
    align-content: stretch;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-between;
    justify-content: space-around;
}

.textRaza { 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: gray;
    filter: opacity(80%);
    text-shadow: -3px -2px 4px #bdbdbd00;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.razaNombre {
    color: black;
    font-weight: bold;
    font-family: "theBlowarRegular";
    font-size: 30px;
    letter-spacing: 2px;
}

.razaNombre .opcionElfos {
    display:flex;
    font-family: "theBlowarRegular";
    margin-top: -1rem;
    margin-left: 5rem;
    color: black;
    text-align: center;
    display: none;
    position: static;
    top: 8%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 44px;
    text-shadow: -2px 2px 2px #ffffff;
}

// .opcionElfos:hover .razaNombre {
//     display: block;
// }

// .opcionEnanos:hover .razaNombre {
//     display: block;
// }

// .opcionHumanos:hover .razaNombre {
//     display: block;
// }

// .opcionOrcos:hover .razaNombre {
//     display: block;
// }

//! ELECCIÓN DE PERSONAJES (LINKS)

.elijeTuClase {
    justify-content: center;
    background-image: url(../img/btnCls.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #00ffff;
    border-radius: 1rem;
    padding: 30px;
    width: 400px;
    cursor: pointer;
    margin-bottom: 5px;
}

.elijeTuClase:hover {
    box-shadow: 2px 2px 4px #f7f7f7;
}

.btnEleCla {
    text-shadow: -1px 2px 4px #000000;
    font-weight: bold;
    color: #ff00ea;
    font-size: 40px;
}

.claseEnanos {
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.claseHumanos {
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.claseOrcos {
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.magoElfo {
    background-image: url(../img/clases/elfoMago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.druidaElfo {
    background-image: url(../img/clases/elfoDruida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.bardoElfo {
    background-image: url(../img/clases/elfoBardo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.guerreroEnano {
    background-image: url(../img/clases/enanoGuerrero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.herreroEnano {
    background-image: url(../img/clases/enanoHerrero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
    margin-top: 20px;
}

.paladinEnano {
    background-image: url(../img/clases/enanoPaladin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.caballeroHumanos {
    background-image: url(../img/clases/humanoCaballero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.picaroHumanos {
    background-image: url(../img/clases/humanoPicaro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
    margin-top: 20px;
}

.clerigoHumanos {
    background-image: url(../img/clases/humanoClerigo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.berserkerOrco {
    background-image: url(../img/clases/orcoBerserker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.chamanOrco {
    background-image: url(../img/clases/orcoChaman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
    margin-top: 20px;
}

.cazadorOrco {
    background-image: url(../img/clases/orcoCazador.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 258px;
    // height: 312px;
}

.tituloClase {
    font-family: "theBlowarRegular";
    font-size: 25px;
    color: White;
    margin-top: -3rem;
}

//animacion Elegir Clase
/* Estilos para el contenedor de clases */
.elegirClase {
    //position: fixed;
    //top: 25%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    z-index: 999; /* Asegura que esté en la parte superior */
    // box-shadow: 1px 1px 2px rgba(15, 15, 15, 0.686);
}

/* Estilos para las clases */
.claseElfos,
.claseEnanos,
.claseHumanos,
.claseOrcos {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre elementos */
}

/* Estilos para las opciones */
.claseElfos div,
.claseEnanos div,
.claseHumanos div,
.claseOrcos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 254px;
    height: 392px;
    cursor: pointer;
    margin-top: 5rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/* Estilos de animación al pasar el mouse */
.claseElfos div:hover,
.claseEnanos div:hover,
.claseHumanos div:hover,
.claseOrcos div:hover {
    //transform: scale(1.1); /* Escala aumentada al pasar el mouse */
    
}

.magoElfo:hover, .druidaElfo:hover, .bardoElfo:hover,
.guerreroEnano:hover, .herreroEnano:hover, .paladinEnano:hover,
.caballeroHumanos:hover, .picaroHumanos:hover, .clerigoHumanos:hover,
.berserkerOrco:hover, .chamanOrco:hover, .cazadorOrco:hover {
    // box-shadow: inset -11px -9px 2px 0px rgb(0 0 0 / 50%);
    //box-shadow: inset -11px -9px 2px 0px rgba(0, 0, 0, 0.5), inset 9px 11px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -8px -5px 2px 2222px rgba(0, 0, 0, 0.183), 9px 11px 2px 2222px rgba(0, 0, 0, 0.183), 3px 2px 6px 9px rgba(255, 255, 255, 0.5), -3px -2px 6px 9px rgba(255, 255, 255, 0.5);
}

.magoElfo:focus-visible, .druidaElfo:focus-visible, .bardoElfo:focus-visible,
.guerreroEnano:focus-visible, .herreroEnano:focus-visible, .paladinEnano:focus-visible,
.caballeroHumanos:focus-visible, .picaroHumanos:focus-visible, .clerigoHumanos:focus-visible,
.berserkerOrco:focus-visible, .chamanOrco:focus-visible, .cazadorOrco:focus-visible, .elegirClase:focus-visible {
    outline: -webkit-focus-ring-color none 0px;
}

.magoElfo, .druidaElfo, .bardoElfo, .guerreroEnano, 
.herreroEnano, .paladinEnano, .caballeroHumanos, .picaroHumanos,
.clerigoHumanos, .berserkerOrco, .chamanOrco, .cazadorOrco {
    border-radius: 1rem;
}

//! Estilo para las descripciones de las clases
.grupoClasesElfo, .grupoClasesEnanos, .grupoClasesHumanos, .grupoClasesOrcos {
    position: relative;
}

.nombreClase, .descripcion, .nombreClase1, .descripcion1, 
.nombreClase2, .descripcion2, .nombreClase3, .descripcion3, 
.nombreClase4, .descripcion4, .nombreClase5, .descripcion5, 
.nombreClase6, .descripcion6, .nombreClase7, .descripcion7, 
.nombreClase8, .descripcion8, .nombreClase9, .descripcion9, 
.nombreClase10, .descripcion10, .nombreClase11, .descripcion11 {
    display:flex;
    //position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    justify-content: center;
}

.nombreClase, .nombreClase1,
.nombreClase2, .nombreClase3,  
.nombreClase4, .nombreClase5,  
.nombreClase6, .nombreClase7,  
.nombreClase8, .nombreClase9,  
.nombreClase10, .nombreClase11  {
    top: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.descripcion, .descripcion1, 
.descripcion2, .descripcion3, 
.descripcion4, .descripcion5, 
.descripcion6, .descripcion7, 
.descripcion8, .descripcion9, 
.descripcion10, .descripcion11 {
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.magoElfo:hover .nombreClase,
.magoElfo:hover .descripcion,
.druidaElfo:hover .nombreClase1,
.druidaElfo:hover .descripcion1,
.bardoElfo:hover .nombreClase2,
.bardoElfo:hover .descripcion2,
.guerreroEnano:hover .nombreClase3,
.guerreroEnano:hover .descripcion3,
.herreroEnano:hover .nombreClase4,
.herreroEnano:hover .descripcion4,
.paladinEnano:hover .nombreClase5,
.paladinEnano:hover .descripcion5,
.caballeroHumanos:hover .nombreClase6,
.caballeroHumanos:hover .descripcion6,
.picaroHumanos:hover .nombreClase7,
.picaroHumanos:hover .descripcion7,
.clerigoHumanos:hover .nombreClase8,
.clerigoHumanos:hover .descripcion8,
.berserkerOrco:hover .nombreClase9,
.berserkerOrco:hover .descripcion9,
.chamanOrco:hover .nombreClase10,
.chamanOrco:hover .descripcion10,
.cazadorOrco:hover .nombreClase11,
.cazadorOrco:hover .descripcion11 {
    opacity: 1;
}

.botones {
    display:flex;
}

.raza-option {
    cursor: pointer;
}
.clase-pick {
    display: none;
}

#razasElegir {
    display:flex;
}

.meme {
    display: flex;
    flex-direction: row; /* Mostrar las razas y las clases en una fila */
    justify-content: space-between; /* Espacio entre las razas y las clases */
}

#razas,
#clases {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-items: center; /* Centrar elementos horizontalmente */
}

/* Estilos para las razas */
#razas {
    margin-left: -45rem;
}

/* Estilos para las clases */
#clases {
    margin-top: 6rem;
}

.centerMove {
    margin-left: 3rem;
    margin-right: 3rem;
}


//TODO COLOCAR LOS BOTONES ACA Y ABAJO AL HOVER.
#continuarBtn, #continuarBtn2, #buttonContinue,
#continuarBtn3 {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}

#continuarBtn:hover, #continuarBtn2:hover, #buttonSend1:hover, 
#buttonSend2:hover, #buttonSend3:hover, #buttonDice:hover,
#buttonContinue:hover,
#continuarBtn3:hover {
    box-shadow: 0px 0px 10px 5px #00ffff;
}

.textG {
    display: flex;
    margin-top: 3rem;
}

.textGeneroCfg {
    color: white;
    font-weight: bold;
    font-family: "theBlowarRegular";
    font-size: 30px;
    letter-spacing: 2px;
    //margin-top: 5rem;
}


#hombre {
    background-image: url(../img/man.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin-right: 1rem;
}

#hombre:hover {
    background-image: url(../img/manUp.png);
}

#mujer {
    background-image: url(../img/woman.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin-left: 1rem;
}

#mujer:hover {
    background-image: url(../img/womanUp.png);
}

.tituloGenero {
    color: white;
    font-weight: bold;
    font-family: "theBlowarRegular";
    font-size: 30px;
    letter-spacing: 6px;
    margin-top: 1rem;
    //margin-bottom: 12rem;
    text-shadow: -1px 2px 4px #000000;
    text-align: center;
}

.hLeft {
    // margin-right: 13rem;
    // margin-left: -1rem;
    color: white; /* Color base para Hombre */
    background-color: transparent; /* Fondo base para Hombre */
    margin-left: -0.8rem;
}

.mRight {
    color: white; /* Color base para Mujer */
    background-color: transparent; /* Fondo base para Mujer */
    margin-left: 3px;
}


.contentGen {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.justASpace {
    margin-left: 12.5rem;
}

.cfgBtn {
    margin-bottom: 4rem;
}

.buttonCFGSend {
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #00ffff;
}

.buttonCFGSend {
    margin-bottom: -3rem;
}

.spaceButt {
    margin-bottom: -3rem;
}

.buttonCFGSend:hover {
    border: 2px solid #e5eded;
}

//!Clases para Atributos

.contenedorParcial, .contenedorFinalClss {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    background-image: url(../img/bgndStats.jpg);
    border-radius: 5rem;
    padding: 5rem;
    border: 2px solid #00ffff;
}

.contenedorParcial:hover {
    box-shadow: 0px 0px 10px 5px #00ffff;
}

.perfilElegido {
    color: rgb(250, 156, 172);

}

.atributosDelPj {
    margin-right: 1.5rem;
    margin-top:3rem;
    .intBase {
        color: #00FFFF
    }
    .strBase {
        color: red;
    }
    .agiBase {
        color: green;
    }
}

.nickElegido, .razaElegida, .claseElegida, .generoElegido,
.intBase, .strBase, .agiBase {
    width: 100%;
    text-align: left;
    font-size: 30px;
}

.valor {
    // margin-left: 9rem;
    // text-align: right;
}

.textPjsParcial {
    color: white;
    font-size: 30px;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right:6rem;
}

#buttonContinue {
bottom: 16rem;
}

#resultado1, #resultado2, #resultado3 {
    color:white;
    font-size: 30px;
}

.contenedorFinalClss {
    margin-top: 4rem;
}

.textFinal {
    color: white;
    font-weight: bold;
    font-family: "theBlowarRegular";
    font-size: 30px;
    letter-spacing: 6px;
    margin-top: 0rem;
    //margin-bottom: 12rem;
    text-shadow: -1px 2px 4px #000000;
    text-align: center;
}

#continuarBtn3 {
    margin-bottom: 15rem;
}



//TODO COLOCAR LOS BOTONES ACA Y ABAJO AL HOVER.
.cfgBotones {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}

.cfgBotones:hover {
    box-shadow: 0px 0px 10px 5px #00ffff;
}













































