@media screen and (max-width: 480px) {
    /* Estilos CSS para pantallas con ancho hasta 480px */
    .legend1 {
        font-size: 40px;
        margin-right: -3rem;
        filter: opacity(75%);
        margin-top: 1rem;
    }
    
    .builder2 {
        margin-top: 1rem;
        font-size: 40px;
        margin-left: 4rem;
        filter: opacity(80%);
    }

    .start-button {
        width: 312px;
        height: 514px;
        z-index: 9999;
        margin-top: 77px;
        margin-left: -8px;
        filter: opacity(0.6);
    }
    
    .start-buttonCFG {
        width: 300px;
        height: 360px;
        filter: blur(2px);
        margin-top: 8rem;
    }
    
    .start-button:hover {
        width: 300px;
        height: 514px;
        margin-top: 126px;
        margin-left: -29px;
    }

    .start-button:active {
        width: 300px;
        height: 514px;
        margin-top: 51px;
        margin-left: -3px;
    }

    .bodyIndex img {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bienvenida {
        font-size: 12px;
        margin: 10px;
    }

    .textSolapa {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 1rem;
        font-size: 15px;
        margin-right: 1rem;
    }

    .comenzarBtn {
        margin-top: 31px;
        width: 219px;
        height: 209px;
    }

    .configTextBase {
        padding: 30px;
        height: 83px;
        width: 283px;
        border: 2px solid #00ffff;
        margin-top: 2rem;
        margin-bottom: 5px;
        padding-bottom: 4rem;
        font-size: 30px;
        border-radius: 1rem;
    }

    .inputTextStyleIndex {
        font-size: 19px;
    }

    .configTextBase {
        margin-top: 2rem;
        margin-bottom: 5px;
        padding-bottom: 5rem;
        padding-top: 1rem;
        font-size: 30px;
        border-radius: 1rem;
    }

    .botonElegirRaza {
        border-radius: 1rem;
        padding: 30px;
        width: 250px;
        margin-bottom: 5px;
        margin-top: 6rem;
    }

    .btnRazaCfg {
        color: #9e00ff;
        font-size: 27px;
    }

//!Elección de Razas

    .opcionElfos {
        width: 83px;
        height: 120px;
        border-radius: 2rem;
        margin-right: 0.6rem;
    }

    .opcionEnanos {
        width: 83px;
        height: 120px;
        margin-right: 0.6rem;
        border-radius: 2rem;
    }

    .opcionHumanos{
        width: 83px;
        height: 120px;
        margin-right: 0.6rem;
        border-radius: 2rem;
    }

    .opcionOrcos {
        width: 83px;
        height: 120px;
        border-radius: 2rem;
    }

















    #elegirRazas {
        position: absolute;
        top: 10rem;
        left: 50%;
    }

    #razas {
        margin-left: 0rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #razasElegir {
        margin-top: 2rem;
    }

    .razaNombre {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .textRaza {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
    .flex {
        font-size: 7px;
    }










    //!Elección de Clases

    #clases {
        margin-top: 3rem;
    }
    
    .centerMove {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .nombreClase, .descripcion, .nombreClase1, .descripcion1, .nombreClase2, .descripcion2, .nombreClase3, .descripcion3, .nombreClase4, .descripcion4, .nombreClase5, .descripcion5, .nombreClase6, .descripcion6, .nombreClase7, .descripcion7, .nombreClase8, .descripcion8, .nombreClase9, .descripcion9, .nombreClase10, .descripcion10, .nombreClase11, .descripcion11 {
        display: flex;
        width: 80px;
        height: 16px;
        margin-top: 0rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 5px;
        flex-direction: column;
        align-content: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .claseElfos div, .claseEnanos div, .claseHumanos div, .claseOrcos div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        height: 171px;
        cursor: pointer;
        margin-top: 4rem;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .centerMove {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    #continuarBtn {
        display: none;
        position: fixed;
        bottom: 16rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: 2px solid #00ffff;
        border-radius: 5px;
        cursor: pointer;
    }

    #continuarBtn2 {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: 2px solid #00ffff;
        border-radius: 5px;
        cursor: pointer;
    }










    //!Elección de Género

    .tituloGenero {
        color: white;
        font-weight: bold;
        font-family: "theBlowarRegular";
        font-size: 22px;
        letter-spacing: 3px;
        margin-top: 4rem;
        text-shadow: -1px 2px 4px #000000;
        text-align: center;
    }


    #hombre {
        margin-top: 10px;
        width: 150px;
        height: 150px;
        margin-right: 1rem;
    }

    #mujer {
        margin-top: 10px;
        width: 150px;
        height: 150px;
        cursor: pointer;
        margin-left: 1rem;
    }

    .justASpace {
        margin-left: 6.5rem;
    }



}